<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LikeCounter</title>
    <link href="https://fonts.googleapis.com/css?family=Changa+One:400,400i|Open+Sans:300,300i,400,400i,600" rel="stylesheet">
    <link rel="stylesheet" href="dist/semantic.min.css">
    <script src="https://unpkg.com/vue"></script>
    <style>
        /*.iris {
        background-image: url("images/instagram.jpg");
        background-repeat: no-repeat;
        min-height: 100vh;
        background-size: cover;
      }*/
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
</head>

<body>
    <div id="main" class="iris">
        <nav class="ui menu teal inverted navbar page grid" style="margin-bottom: 0px">
            <a href="" class="brand item"><h2>{{ navbar }}</h2></a>

            <div class="right menu" v-if="login">
                <div class="item"><button class="ui green button" id="btnLogin">Sign in</button></div>
                <div class="item"><a class="ui primary button" href="http://localhost:3000/users/instagram/login">SignIn IG</a></div>

            </div>
            <div class="right menu" v-else>
                <div class="item">
                    <h3>Welcome, {{ username }}</h3></div>
                <div class="item"><button class="ui red button" v-on:click="signOut">Sign out</button></div>
            </div>
        </nav>
        <div class="ui grid">
            <div class="row">

            </div>
        </div>
            <img class="ui centered small image" src="images/ins.gif">
            <!-- <img class="ui centered medium image" src="images/instagram.jpg"> -->

            <div class="ui hidden divider"></div>
            <div class="ui basic segment padtop-6 container">
                <div class="ui left action fluid icon input">
                    <div class="ui selection dropdown search-select" tabindex="0"><select>

                    <option value="articles">Tag</option>
                  </select><i class="dropdown icon"></i>
                        <div class="text">Categories Search
                        </div>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item active selected" data-value="all">Catergories Search</div>
                            <div class="item" data-value="articles">Tag</div>
                        </div>
                    </div>
                    <input type="text" placeholder="| Search" class="home-search-input" v-model="inputSearch">
                    <div type="submit" class="ui large primary button searchbtn" v-on:click="searchPost">Search</div>
                    <div type="submit" class="ui large green button searchbtn" v-on:click="getListPost">All Posts</div>
                </div>
            </div>

        <div class="ui items segment padtop-6 container" v-if="listPost.length !== 0">

            <div class="item" v-for="post in listPost[0].data">

                <div class="image">
                    <img class="ui mini image" v-bind:src="post.images.standard_resolution.url">
                </div>
                <div class="content">
                    <a class="header">{{ post.user.username}}</a>
                    <div class="meta">
                        <span> Tags :</span>
                        <span v-for="tag in post.tags">
                          {{ tag }}
                        </span>

                    </div>
                    <div class="description">
                        <p v-if="post.caption">{{ post.caption.text }}</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated primary button">
                            {{ post.likes.count}} Likes
                            <i class="right chevron icon"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- TEST -->

        <div class="ui small modal four grid" id="modalLogin">
            <i class="close icon"></i>
            <div class="ui center aligned header">
                <h3>Sign in</h3>
            </div>

            <div class="ui content grid container">

                <div class="content">
                    <div class="ui form fluid">
                        <div class="field">
                            <label>Username</label>
                            <input class="ui left action fluid icon input" v-model="username" placeholder="Username" type="text">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input v-model="password" placeholder="Password" type="password">
                        </div>

                        <button id="btnSubmitLogin" class="ui button green" v-on:click="onLogin">Sign in</button>
                    </div>
                </div>
            </div>

            <div class="actions">
                <div class="ui button">Cancel</div>
            </div>
        </div>

        <div class="ui small modal four grid" id="modalSignup">
            <i class="close icon"></i>
            <div class="ui center aligned header">
                <h3>Sign up</h3>
            </div>

            <div class="ui doubling stackable content grid container">
                <div class="content">
                    <div class="ui fluid form">
                        <div class=" field">
                            <label>Name</label>
                            <input class="ui left action fluid icon input" v-model="nameR" placeholder="Name" type="text">
                        </div>
                        <div class=" field">
                            <label>Username</label>
                            <input v-model="usernameR" placeholder="Username" type="text">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input v-model="passwordR" placeholder="Password" type="password">
                        </div>
                        <div class=" field">
                            <label>Email</label>
                            <input v-model="emailR" placeholder="Email" type="email">
                        </div>
                        <button id="btnSubmitRegister" class="ui button blue" v-on:click="onRegister">Sign up</button>
                    </div>
                </div>
            </div>

            <div class="actions">
                <div class="ui button">Cancel</div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="dist/jquery.min.js"></script>
    <script type="text/javascript" src="dist/semantic.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('#btnLogin').click(function() {
                $('#modalLogin').modal('show')
            })
            $('#btnSignup').click(function() {
                $('#modalSignup').modal('show')
            })
            $('#btnSubmitLogin').click(function() {
                $('#modalLogin').modal('hide')
            })
            $('#btnSubmitRegister').click(function() {
                $('#modalSignup').modal('hide')
            })
        });
    </script>

    <script>
        var app = new Vue({
            el: '#main',
            data: {
                message: '',
                navbar: 'LikeCounter',
                username: '',
                password: '',
                nameR: '',
                usernameR: '',
                passwordR: '',
                emailR: '',
                login: true,
                listPost: [],
                inputSearch: ''
            },
            methods: {
                onLogin: function() {
                    let self = this
                    // console.log(self);
                    axios.post('http://localhost:3000/users/signin', {
                            username: self.username,
                            password: self.password
                        })
                        .then(response => {
                            // console.log('--------'+response.data);
                            if (response.data.hasOwnProperty('error')) {
                                self.message = response.data.error.errmsg
                            } else {
                                self.login = false;
                                localStorage.setItem('token', response.data);
                                self.getListPost()
                                // let tmp = localStorage.getItem('token')
                                //self.getListBook()
                            }
                        })
                        .catch(error => {
                            alert('error')
                            console.log(error)
                        })
                },
                onRegister: function() {
                    let self = this
                    axios.post('http://localhost:3000/users/signup', {
                            name: self.nameR,
                            username: self.usernameR,
                            password: self.passwordR,
                            email: self.emailR
                        })
                        .then(response => {
                            if (response.data.hasOwnProperty('err')) {
                                console.log(response.data);
                                console.log(err);
                            } else {
                                alert('Register success!')
                                console.log(response);
                            }
                        })
                        .catch(err => {
                            alert('error')
                        })
                },
                signOut: function() {
                    localStorage.removeItem('token');
                    let self = this
                    self.login = true;
                    window.location.href = 'index.html'
                },
                // getting basic user info
                getListPost: function() {
                    let self = this
                    axios.get('http://localhost:3000/users/instagram/get_media_recent', {
                            headers: {
                                token: localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            if (response.data.hasOwnProperty('error')) {
                                self.message = response.data.error.errmsg
                                alert(self.message)
                            } else {
                                self.listPost = []
                                self.listPost.push(response.data)
                                console.log('postnya ', response)
                                // console.log('image ', response.data.data[0].tags)
                            }
                        })
                        .catch(error => {
                            alert('error')
                            console.log(error)
                        })
                },
                searchPost: function() {
                    let self = this
                    axios.get(`http://localhost:3000/users/instagram/get_media_recent/${self.inputSearch}`, {
                            headers: {
                                token: localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            // console.log(response.data[0].likes.count);
                            if (response.data.hasOwnProperty('error')) {
                                self.message = response.data.error.errmsg
                                alert(self.message)
                            } else {
                                // if(response.length == 0){
                                //   alert('data tidak ada')
                                //   self.listPost = []
                                //   self.getListPost()
                                // }else{
                                self.listPost = []
                                self.listPost.push(response)
                                // }
                            }
                        })
                        .catch(error => {
                            alert('error')
                            console.log(error)
                        })
                    //  alert(self.inputSearch)
                }
            },
            created: function() {}
        })
    </script>
</body>

</html>